<!doctype html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('글쓰기')">
</head>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

<body class="bg-base-100 font-pretendard">

<nav th:replace="fragments/common :: menu(blog)"></nav>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-20 pb-10">
    <form action="#" th:action="@{/anthive/form}" th:object="${postForm}" method="post" id="entireForm">
        <input type="hidden" th:field="*{id}" id="formId">

        <div class="form-control mb-4">
            <input
                    placeholder="제목을 입력하세요"
                    type="text"
                    class="input input-lg w-full text-4xl font-bold bg-transparent border-none focus:outline-none placeholder-gray-400 p-4"
                    th:classappend="${#fields.hasErrors('title')}? 'input-error'"
                    id="title"
                    th:field="*{title}">

            <div class="label h-4">
                    <span class="label-text-alt text-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        제목이 형식과 다름
                    </span>
            </div>
        </div>

        <div class="shadow-xl bg-white rounded-box p-1" id="FormBody">
            <div id="editor" class="border rounded-xl"></div>
            <input type="hidden" th:field="*{content}" id="editor-content-provider">
        </div>

        <div class="flex justify-end space-x-4 pt-4">
            <a th:href="@{/anthive/{account}/catalog-list(account=${#authentication.name})}"
               class="btn btn-outline">
                취소
            </a>
            <button type="submit" form="entireForm" class="btn btn-primary">
                확인
            </button>
        </div>

    </form>
</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">
    const csrfHeaderName = [[${_csrf.headerName}]];
    const csrfToken = [[${_csrf.token}]];
    const imgUrl = [[${imageUrl}]];
    const postContent = [[${postForm.content}]];
</script>
<script src="/js/toastui-image-upload.js"></script>
<script src="/js/toastui-default-setting.js"></script>
</body>
</html>