
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
div.backLayer {
  display:none;
  background-color:black;
  position:fixed;
  left:0px;
  top:0px;
  opacity:0.3;
}
div#loadingDiv{
  border: 2px solid #f3f3f3;
  background-color:white;
  display: none;
  position: fixed;
  width:100px;
  height:130px;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.ql-video {
    width:640px;
    height:360px;
    max-width:100%;
    max-height: 56vw;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0 2em;
}
.card{
  width: 12rem;
  margin: 0.5em;
}
.card img{
  height: 6rem;
  object-fit: contain;
}
.card-text {
  height: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;

  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2em;
  height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}